.App {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

h1 {
  text-align: center;
}

#navhead {
  font-family: Nosifer, cursive;
}

#carousel {
  width: 60%;
  height: auto;
}

.item {
  text-decoration: none;
  color: black;

}

.AboutIntroLine {
  color: white;
  text-shadow: black 1px 1px 1px;
  font-size: 150%;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

@font-face {
  font-family: 'Cinzel Decorative';
  src: local("CinzelDecorative-Black"),
    url("./fonts/CinzelDecorative-Black.ttf") format("truetype");
}
@font-face {
  font-family: 'Cinzel Decorative';
  src: local("CinzelDecorative-Bold"),
    url("./fonts/CinzelDecorative-Bold.ttf") format("truetype");
}
@font-face {
  font-family: 'Cinzel Decorative';
  src: local("CinzelDecorative-Regular"),
    url("./fonts/CinzelDecorative-Regular.ttf") format("truetype");
}
@font-face {
  font-family: 'Milonga';
  src: local("Milonga-Regular"),
    url("./fonts/Milonga-Regular.ttf") format("truetype");
}
@font-face {
  font-family: 'Nosifer';
  src: local("Nosifer-Regular"),
    url("./fonts/Nosifer-Regular.ttf") format("truetype");
}

.App-link {
  color: black;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



.CryptoTagline {
  color: white;
  text-shadow: black 1px 1px 1px;
  font-size: 150%;
}
