.App {
  background-repeat: repeat;
  background-attachment: fixed;
  background-size: cover;
}

body, html {
  height: 100%;
  background-image: url('images/AbstractPaint.jpg');
  background-repeat: repeat;
  background-attachment: fixed;
  background-size: cover;
}

h2 {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}


.HeaderOne {
  text-align: center;
  font-family: Cinzel Decorative, cursive;
  color: white;
  font-weight: bold;
  font-size: 200%;
  background-color: rgb(0, 0, 0);
  padding-top: 2%;
  padding-bottom: 2%;
}


#navhead {
  font-family: Nosifer, cursive;
  font-size: 270%;
  padding-top: 3%;
  padding-bottom: 3%;
}


#carousel {
  width: 60%;
  height: auto;
}

.legend {
  font-family: Milonga, cursive;
}

#resume {
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#standard_text {
  padding-left: 20px;
  font-family: Cinzel Decorative, cursive;
  font-size: 220%;
  font-weight: bold;
  word-wrap: normal;
  height: auto;
  position: relative;
  color: black;
  text-shadow: rgb(255, 255, 255) 3px 2px 1px;
}

.item {
  text-decoration: none;
  color: black;
  font-family: Milonga, cursive;
  font-size: 140%;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

#reactImage {
  max-width: 100%;
}

.imageBox {
 flex-basis: 90%;
}

#artwork {
  height: auto;
  width: 30%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

@font-face {
  font-family: 'Cinzel Decorative';
  src: local("CinzelDecorative-Black"),
    url("./fonts/CinzelDecorative-Black.ttf") format("truetype");
}
@font-face {
  font-family: 'Cinzel Decorative';
  src: local("CinzelDecorative-Bold"),
    url("./fonts/CinzelDecorative-Bold.ttf") format("truetype");
}
@font-face {
  font-family: 'Cinzel Decorative';
  src: local("CinzelDecorative-Regular"),
    url("./fonts/CinzelDecorative-Regular.ttf") format("truetype");
}
@font-face {
  font-family: 'Milonga';
  src: local("Milonga-Regular"),
    url("./fonts/Milonga-Regular.ttf") format("truetype");
}
@font-face {
  font-family: 'Nosifer';
  src: local("Nosifer-Regular"),
    url("./fonts/Nosifer-Regular.ttf") format("truetype");
}

.App-link {
  color: black;
}

.BlogLink {
  color:rgb(167, 16, 255);
  text-decoration: none;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

